<div class="row">
    <div class="col-xs-12">
      <button  mat-raised-button color="warn" (click)="onNewHouse()">New House</button>
    </div>
    <br>
    <hr>
    <div class="col-xs-12">
      <!-- search input -->
      <input type="text" placeholder="Search..." [(ngModel)]= "search">
    </div>
  </div>
  <hr>
  
  <div class="row" id="houseList">
    <div class="col-xs-12">
      <app-house-item *ngFor="let houseEl of houses; let i = index | filter: search"  
      [house]="houseEl"
      [index]="i"></app-house-item>
    </div>
  </div>
  




